/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
!*/vendor/jeroennoten
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.xlsx
public/file/5_1749503806.pdf
CSharp/obj/Debug/net6.0/WebErpMesv2.AssemblyInfo.cs
CSharp/obj/Debug/net6.0/WebErpMesv2.AssemblyInfoInputs.cache
